/* CONTACTO */
main{
    #section_contacto{
        background-image: url(../publi/images/imgformulario.png);
        background-size: cover;
        color:black;
        padding: 10% 0% 10% 0%;
    }
    
}