/*============ FOOTER ============*/

/*Formato del footer */
footer{
    padding: 40px;
    margin: 0px;
    margin-top: 70px;
    /*Ajuste de las imagenes */
    .redes{
        list-style: none;
        box-sizing: border-box;
        height: 45px;
        width: 45px;
        margin-left: 35px;
    }
}