
main{
    #section_ingenieros{
        background-image: url(../publi/images/fondo1.jpg);
        background-size: cover;
        padding: 10% 0% 10% 0%;

        .foto_ingeniero{
            box-sizing: border-box;
            height: 80%;
            width: 80%;
        }
    }

    .colabora{
        box-sizing: border-box;
        width: 10%;
    }
}