/* Autor Manuel Hernan Gonzales Rojas*/



@import 'header';
@import 'footer';
@import 'general';
@import 'contacto';
@import 'ingenieros';
@import 'nosotros';

/* ============ PAGINA INDEX ============= */
main{
    .p_info_index{
        margin-top: 30px;
        display:grid;
        grid-template-areas: 
       ". info_img info_1 ."
       ". info_img info_2 .";
       grid-template-columns: 5% auto auto 5%;
       grid-template-rows: auto auto;
    }

    .p_info_1{
        grid-area: info_1;
        padding: 3%;
    }

    .p_info_2{
        grid-area: info_2;
        padding: 3%;
    }

    .p_info_img{
        grid-area: info_img;
        box-sizing: border-box;
        justify-self: center;
        width: 300px;
    }

    @media screen and (max-width:900px) {
        .p_info_index{
            display: block;
            padding: 0% 5% 0% 5%;
        }
        .p_info_img{
            width: 100%;
        }
    }
}






